<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header class="menu">

        <div class="logo">
          <img src="../assets/logo.png" />
        </div>
        <div class="title">
          <h1>Busque, estacione e pague!</h1>
          <p>Agilidade para estacionar e efetuar o pagamento</p>
        </div>
      
      </ion-header>
      <ion-content>
        <ion-list class="menu">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <div class="first-block">

              <ion-item [routerDirection]="'root'" lines="none" *ngIf="p.title === 'Consultar vagas'" (click)="check_available_slots()">
                <img class="list-icons" src="{{ p.icon }}"/>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>

              <ion-item [routerDirection]="'root'" lines="none" *ngIf="p.title === 'Consultar ticket'" (click)="consult_ticket()">
                <img class="list-icons" src="{{ p.icon }}"/>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>

              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none" *ngIf="p.title !== 'Consultar vagas' && p.title !== 'Consultar ticket'">
                  <img class="list-icons" src="{{ p.icon }}"/>
                  <ion-label>
                    {{ p.title }}
                  </ion-label>
              </ion-item>

            </div>          
          </ion-menu-toggle>
          <ion-menu-toggle>
            <p class="divisor-label">Informações</p>
            <div class="second-block">
              <ion-item [routerDirection]="'root'" lines="none" (click)="operation()">
                <ion-icon slot="start" name="alarm"></ion-icon>
                <ion-label>
                  Funcionamento
                </ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" (click)="prices()" lines="none">
                <ion-icon slot="start" name="cash"></ion-icon>
                <ion-label>
                  Preços
                </ion-label>
              </ion-item>
            </div>
            <p class="logout-link" *ngIf="authenticated" (click)="logout()">Logout</p>
            <p class="logout-link" *ngIf="!authenticated" (click)="login()">Login</p>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
