<ion-header class="pages">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <img class="header-logo" src="../../assets/logo.png"/>
  <ion-title (click)="open_login()" *ngIf="!authenticated">
    Login
  </ion-title>

  <ion-title *ngIf="authenticated">
    {{ user != null && user != undefined ? user.name : "..." }}
  </ion-title>
</ion-header>

<ion-content>
    <div class="consult-overlay" *ngIf="consulted_ticket.running">
      <div class="consulted-ticket">
        <div class="header">
          <p (click)="consulted_ticket.running = false" class="close">Fechar</p>
        </div>
        <div class="content">
          <div class="legendas">            
              <p>Entrada</p>

              <p>Saída</p>
              
              <p>Preço</p>
              
              <p>Código</p>

              <p>Criado por</p>
              
              <p>Status</p>
            </div>
            <div>
              <p>{{ consulted_ticket.created_at }}</p>
              
              <p>{{ consulted_ticket.end_at != null ? consulted_ticket.end_at : 'Em andamento' }}</p>

              <p>R$ {{ consulted_ticket.price }}</p>
              
              <p>{{ consulted_ticket.code }}</p>
              
              <p>{{ consulted_ticket.user_name }}</p>

              <p>{{ consulted_ticket.status }}</p>
            </div>
        </div>
        
        <div class="buttons" *ngIf="user !== undefined && user !== null">
          <button *ngIf="consulted_ticket.status == 'Ativo' && consulted_ticket.user_id == user.id" (click)="pay_ticket()">
            Pagar
          </button>
          <button *ngIf="consulted_ticket.status == 'Inativo'" disabled>
            Ticket pago
          </button>
        </div>
        
      </div>
    </div>
    
    <div class="status-block">
      <p *ngIf="ticket.running">Ticket em andamento</p> 

      <!-- Se não tiver ticket em andamento -->
      <p class="sem-ticket" *ngIf="!ticket.running">Nenhum ticket ativo</p>
    </div>
    <div class="container">
      <div class="ticket animated bounceIn" *ngIf="ticket.running" (click)="ticket_details()">
        <div class="legendas">
          <p>Permanência</p>
          <h1>{{ ticket.timer }}</h1>
          <p>Entrada</p>
          <p>{{ ticket.manipulated_date }}</p>
        </div>
        <div>
          <p>Ticket</p>
          <h1>{{ ticket.code }}</h1>
          <p>Preço</p>
          <p>R$ {{ ticket.price }}</p>
        </div>
        <div class="details">
          <p>Clique para ver detalhes</p>
        </div>
      </div>

      <!-- Se não tiver ticket em andamento -->
        <div class="create-ticket animated bounceIn" (click)="create_ticket()" *ngIf="!ticket.running">
          <p>Gerar ticket</p>
        </div>

      <button class="animated bounceIn" (click)="consult_ticket()"><img src="../../assets/billing.png"/>Consultar ticket</button>
      <button class="animated bounceIn" (click)="nav_to('/my-tickets')" *ngIf="authenticated"><img src="../../assets/ticket.png"/>Meus tickets</button>
      <!-- Se não tiver ticket em andamento -->
        <button class="animated bounceIn" *ngIf="!authenticated" (click)="check_available_slots()"><img src="../../assets/car.png"/>Vagas disponíveis</button>
    </div>
</ion-content>
