<ion-header class="pages">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Estacionamento</ion-title>
</ion-header>

<ion-content>  
  <p class="my-tickets">Vagas disponíveis</p>
  <div class="itens-block" *ngIf="itens.length > 0">
    <div class="item animated bounceIn" *ngFor="let item of itens">
      <div>
        <div [ngClass]="{'active': item.status == 'Ativo', 'inactive': item.status == 'Inativo'}">{{ item.code }}</div>
      </div>
      
      <div>
        <p>{{ item.status == 'Ativo' ? 'Disponível': 'Ocupada' }}</p>
      </div>
    </div>
  </div>
  
  <div class="itens-block" *ngIf="itens.length == 0">
    <div class="item">
      <p>Nenhum item encontrado</p>
    </div>
  </div>
</ion-content>
